body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
ul{
  list-style-type: none;
  background-color: aqua;
}
li{
  display: inline-block;
  padding: 10px 20px;
}
li a {
  text-decoration: none;
  color: black;
}